*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!Makefile
!README.md
!.gitignore
!init.sh
!/chisel-tutorial/*
npc/platform/ysyxsoc/include/generated/autoconf.h
npc/platform/npc/include/generated/autoconf.h
