mainmenu "NPC Configuration Menu"

menu "Memory Configuration"

config LOAD_MEMORY_BASE
  hex "Load memory(The memory store program) base address"
  default 0x80000000

config LOAD_MEMORY_SIZE
  hex "Load memory(The memory store program) size"
  default 0x8000000

config RESET_VECTOR
  hex "RESET_VECTOR"
  default LOAD_MEMORY_BASE

endmenu #MEMORY

config DIFFTEST
  bool "Enable differential testing"
  default n
  help
    Enable differential testing with a reference design.
    Note that this will significantly reduce the performance of NPC.

