mainmenu "NPC Configuration Menu"

menu "Memory Configuration"

config LOAD_MEMORY_BASE
  hex "Load memory(The memory store program) base address"
  default 0x80000000

config LOAD_MEMORY_SIZE
  hex "Load memory(The memory store program) size"
  default 0x8000000

config RESET_VECTOR
  hex "RESET_VECTOR"
  default LOAD_MEMORY_BASE

endmenu #MEMORY

config DIFFTEST
  bool "Enable differential testing"
  default n
  help
    Enable differential testing with a reference design.
    Note that this will significantly reduce the performance of NPC.

choice
  prompt "GENERATE_WAVE_FORM"
  default waveForm_fst
config waveForm_fst
  bool "fst"
config waveForm_vcd
  bool "vcd"
endchoice

config WAVEFORM
  string
  default "fst" if waveForm_fst
  default "vcd" if waveForm_vcd
  default "none"

choice
  prompt "PLATFORM"
  default npc
config PLATFORM_YSYXSOC
  bool "ysyxsoc"
config PLATFORM_NPC
  bool "npc"
endchoice

config PLATFORM
  string
  default "ysyxsoc" if PLATFORM_YSYXSOC
  default "npc" if PLATFORM_NPC
