*.*
*
!*/
!/src/ssrc/**
!Makefile
!*.mk
!*.scala
!*.[cSh]
!*.v
!*.cpp
!*.cc
!*.excalidraw
!.gitignore
!.scalafmt.conf
!build.sc
!Kconfig
!README.md
!*.nxdc
!*.py
!*.sdc
build/
include/config
include/generated
platform/npc/include
platform/ysyxsoc/include

# mill
out/
.bsp/
.idea/
.idea_modules/
test_run_dir/
